body{
background-color:lightyellow;}

/* header*/

#header-nav {
background-color:navy; border-radius:0; border:0;
} 

.navbar-header {
padding-top:7px;}

.navbar-header h1 {
font-family:Garamond;
font-weight: bold;
color:springgreen;

margin-bottom:0;
}
	
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
border:1px solid springgreen;}

.navbar-header button.navbar-toggle {
clear: both;
}

#nav-list {
margin-top:10px;
}

#nav-list a {
	background:springgreen;
	color:navy;
text-align: center;
}

#nav-list a:hover {
background:white;
}

#nav-list {
font-size:1.8em;}

#hr {
margin-bottom:10px;
margin-top:10px;
width:100%;

}

#hiki {
font-size:3.5em;
}


#kutu {
	background-color:aqua;
	border: 1px solid lightyellow;
    position:relative;
	margin:15px;
	height:300px;
	padding-left:10px;
	padding-right:10px;
}

#başlık {
text-align:center;
font-size:2em;
font-weight:bold;}

#metin {
font-size:20px;}
	


#son {
	position:absolute;
	color:navy;
	font-size:20px;
	right:0;
bottom:0;}






@media (max-width:767px) {
#collapsable-nav a { /* collapsed nav menu glyph */
font-size:1.2em;}


#collapsable-nav span {
font-size:1em;
margin-right:5px; 
}







}